#welcome-section {
 height: 100vh;
 margin: 5rem;
}
#navbar {
    float: right;
    margin: 0 5rem;
}
section #projects {
    padding: 2rem;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}